@import url('https://fonts.cdnfonts.com/css/kg-lego-house');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    margin: auto;
}

h1 {
    margin: 0;
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#header {
    background-color: #FFD700;
}

#intro {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 30px;
}

#aboutUs {
    padding-right: 50px;
}

#car {
    padding-left: 20px;
}

p {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

#intro h2 {
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
}

h1 a {
    color: black;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

h1 a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

fieldset {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: right;
    background-color: #FFD700;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#nav_button {
    color: #008F9B;
}

#search_box {
    width: 100px;
}

#tag_id {
    border: none;
    height: 26px;
    color: #008F9B;
}

#searchBar {
    display:inline-flex;
    padding-right: 10px;
}

#menu input {
    float: right;
    border: none;
}

#menu input:focus {
    outline: none;
}

form {
    margin: 0%;
}

#posts {
    width: 80%;
    margin: auto;
}

#posts h2 {
    padding-top: 30px;
    font-family: 'Quicksand', sans-serif;
    color: #DA291C;
    text-align: center;
}

#posts .post_content {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
}

#posts fieldset a {
    color: #008F9B;
}

fieldset {
    padding-bottom: 20px;
}

fieldset .post {
    padding-top: 20px;
}

fieldset .post a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #DA291C;
    font-weight: bold;
}

fieldset .post a:hover {
    font-style: italic;
}

fieldset #post_tag a {
    color: #DA291C;
}

fieldset .post .post_content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
}

fieldset .post .post_content a {
    font-size: 1rem;
    color: #008F9B;
}

footer p{
    background-color: #FFD700;
    text-align: right;
    margin: auto;
    padding-right: 30px;
    font-size: 1rem;
    height: 50px;
    padding-top: 10px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #DA291C;
}

#help {
    display: flex;
    width: 80%;
    margin: auto;
}

#contact {
    padding: 40px;
}

#questions {
    padding: 40px;
}

#help h2 {
    padding-bottom: 20px;
}

#help #questions h3{
    font-family: 'Quicksand', sans-serif;
}

#help #questions p {
    font-style: italic;
}

#post {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#new_tag {
    display: inline-flex;
}

#edit {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#edit textarea {
    margin: 0%;
    padding: 0%;
}

#edit #title {
    width: 500px;
    height: 30px;
}

#edit_buttons {
    padding-top: 20px;
}

#edit_buttons button {
    border: none;
    color: #008F9B;
}

#error_message {
    width: 80%;
    margin: auto;
    height: 500px;
}

#aboutUs img, #blogs img, #contactUs img {
    width: 300px;
    border-radius: 30px;
    transition: 1s ease;
}

#aboutUs img:hover, #blogs img:hover, #contactUs img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

#aboutUs a:hover, #blogs a:hover, #contactUs a:hover {
    text-decoration: none;
    font-style: italic;
}

#content {
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

#aboutUs, #blogs, #contactUs {
    padding-right: 70px;
}

h2 a {
    color: #DA291C;
}

h2 a:hover {
    color: #DA291C;
}

fieldset a {
    color: #DA291C;
    font-size: 1.3rem;
}

fieldset a:hover {
    text-decoration: none;
    color:#DA291C;
    font-style: italic;
}

#results ul{
    margin: auto;
    width: 80%;
    padding: 30px;
}

#results ul li {
    padding-top: 10px;
}

#results ul li a {
    color: #DA291C;
}

#results ul li a:hover {
    text-decoration: none;
    font-style: italic;
}

#results ul img {
    width: 700px;
    border-radius: 30px;
}

#nothingFound {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

#questions h3 {
    color: #008F9B;
    font-weight: bold;
}

#tags {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

#edit_cate_button {
    padding: 30px 150px  20px;
}

#edit_cate_button button{
    border: none;
    color: #008F9B;
}

#tag {
    padding-top: 10px;
}

#tag a {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #DA291C;
    font-weight: bold;
}

#tag a:hover {
    font-style: italic;
}